<!DOCTYPE html>
<html>
  <body>
    <h1>Session Report</h1>
    <p><%= @data.time%></p>
    
    <h2><%= @data.issue_key %></h2>
    <h3><%= @data.issue_description %></h3>

    <br/><br/>
    <% @data.images_array.each do |img|%>
    <h4><%=img[0]%></h4>
    <br/>
    <img src='<%=img[1]%>' />
    <br/><br/><br/>
    <% end %>
  </body>
</html>
